<?xml version="1.0" encoding="UTF-8"?>
<widget xmlns="http://www.w3.org/ns/widgets" xmlns:tizen="http://tizen.org/ns/widgets" id="http://yourdomain/RunnerCalc" version="1.1.0" viewmodes="maximized">
    <tizen:application id="qkqwLn3Evr.RunnerCalc" package="qkqwLn3Evr" required_version="2.2"/>
    <content src="index.html"/>
    <feature name="http://tizen.org/feature/screen.size.normal.320.320"/>
    <feature name="http://tizen.org/feature/sensor.accelerometer"/>
    <feature name="http://tizen.org/feature/location.gps"/>
    <feature name="http://tizen.org/feature/sensor.gyroscope"/>
    <feature name="http://tizen.org/feature/sensor.magnetometer"/>
    <icon src="icon.png"/>
    <name>Runner Calculator</name>
    <tizen:privilege name="http://developer.samsung.com/privilege/accessoryprotocol"/>
    <tizen:privilege name="http://developer.samsung.com/privilege/healthinfo"/>
    <tizen:setting hwkey-event="enable"/>
</widget>
